/*		Importing Other CSS file Fonts.css 		*/
@import 'fonts.css';

/*		Global Style	*/
body {
	margin: 0;
	padding: 0;
	font-family: 'Alegreya Sans', Sans-serif;
}

/*			remove under line All Anchor Tag   */
a {
	text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
}

h1 {
	color: #fff;
	font-size: 70px;
	font-weight: lighter;
}

h3 {
	width: 100%;
	margin-top: 0;
	font-size: 40px;
	text-align: center;
}

h3:first-letter {
	color: #dca453;
}

.ep-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 100%;
	max-width: 1000px;
	margin: 0 auto;
	box-sizing: border-box;
}

.ep-align-center {
	align-items: center;
}
 
/*		Header Section Content 	*/ 

header {
	position: relative;
}

header nav {
	position: fixed;
	width: 100%;
	padding: 10px 0;
	margin: 10px 0;
	z-index: 999;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

header nav.ep-nav-fixed {
	background: rgba(0,0,0,0.5);
	margin: 0;
}




header nav ul.ep-navigation {
	display: flex;
	list-style-type:  none;
	margin: 0;
	padding: 0;
}

header nav ul.ep-navigation li a {
	display: block;
	padding: 0 16px;
	color: #fff;
	font-size: 16px;
	text-transform: uppercase;
}

header nav ul.ep-navigation li:last-child a {
	padding-right: 0;
}

/*header nav ul.ep-navigation li:first-child a {
	padding-left: 0;
}
*/

header nav ul.ep-navigation li a:after {
	content: '';
	display: block;
	height: 1px;
	width: 0px;
	background-color: #fff;
	opacity: 0;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

header nav ul.ep-navigation li a:hover:after {
	width: 100%;
	opacity: 1;
}

.ep-header-text {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: absolute;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.5);
	letter-spacing: 7px;

}

.ep-main-banner {
	display: block;
	width: 100%;
}

.ep-header-text .ep-arrow {
	display: inline-block;
	padding: 20px;
	border: solid #fff;
	border-width: 0 4px 4px 0;
	cursor: pointer;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
	-webkit-transition: opacity 0.3s ease;
	transition: opacity 0.3s ease;
}

.ep-header-text .ep-arrow:hover {
	opacity: 0.5;
}

.ep-logo {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 60px;
	height: 60px;
    color: #fff;
    font-size: 26px;
    line-height: 60px;
    border: 2px solid #fff;
    border-radius: 100%;
    text-shadow: -0.7px -0.37x #777;
 }

/* 		Section - recycable		*/
.ep-sections {
	padding: 85px 0;
}


/* 		About uppercase 	*/
#ep-about .ep-column {
	width: 48%;
	margin-top: 25px;
	text-align: center;
}

#ep-about i {
	font-size: 45px;
	color: #dca453;
}

/*			Gallery 	*/

#ep-gallery {
	background-color: #f0f0f0;
}


.ep-gallery {
	display: flex;
	flex-wrap: wrap;
	list-style-type: none;
	margin: 0;
	padding:0;
	align-content: center;
	justify-content: center;
	text-align: center;
}

.ep-photo {
	padding: 85px 0 20px 0;
}

.ep-gallery li {
	display: flex;
	width: 20%; 
	position: relative;
	overflow: hidden;
	cursor: pointer; 
}


.ep-gallery li img {
	display: flex;
	flex-wrap: wrap;
/*	margin: 0 4px 2px 4px;  */
	height: 200px;
	width: 300px;
	-webkit-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
/*			My Animi 	*/

.ep-gallery li:hover img {
	-webkit-transform: scale(1.2);
	transform: scale(1.2);
} 

.ep-gallery li:after {

}

.ep-gallery li:hover:after {
	width: 0;
	height: 0;
}

.ep-backdrop {


}



/*		Testimonials 	*/
#ep-testimonials {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.ep-testimonials {
	position: relative;
	max-width: 500px;
}

.ep-testimonials ul {
	display: flex;
	padding: 0;
	list-style-type: none;
	overflow: hidden;
}

.ep-testimonials ul li {
	display: flex;
	min-width: 100%;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.ep-testimonials ul li .ep-user-data img {
	border-radius: 100%;
}

.ep-testimonials ul li .ep-user-name {
	display: block;
	margin: 15px 0;
}

.ep-testimonials ul li > p {
	font-style: italic;
	font-size: 20px;
	color: #aaa;
	text-align: center;
}
 
.ep-testimonials .ep-arrow {	/*	.ep-arrow copied from main arrow  */
	display: inline-block;
	padding: 20px;
	border: solid #aaa;
	border-width: 0 4px 4px 0;
	cursor: pointer;
	-webkit-transition: border-color 0.7s ease;
	transition: border-color 0.3s ease;
	position: absolute;
	top: 50%
}

.ep-testimonials .ep-arrow.ep-arrow-left {
	-webkit-transform: rotate(0deg);
	transform: rotate(135deg);
	right: 120%;
}

.ep-testimonials .ep-arrow.ep-arrow-right {
	-webkit-transform: rotate(45deg);
	transform: rotate(-45deg);
	left: 120%;
}

.ep-testimonials .ep-arrow:hover {
	border-color: #dca453;
}
 
/*			Contact us   */
 #ep-contact {
 	background: #f0f0f0;
 }

#ep-contact form {
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 500px;
	margin: 0 auto;
}

#ep-contact form input:not([type="submit"]),
#ep-contact form textarea {
	width: 100%;
	padding: 15px;
	margin-bottom: 10px;
	border: 1px solid #dad0d0;
	font-size: 14px;
	box-sizing: border-box;
	outline: none;
}

#ep-contact form textarea {
	height: 150px;
	resize: none;
}

#ep-contact form *::-webkit-input-placeholder {
	color: #aaa;
	font-style: italic;
}

#ep-contact form *::-moz-input-placeholder {
	color: #aaa;
	font-style: italic;
}

#ep-contact form *:-ms-input-placeholder {
	color: #aaa;
	font-style: italic;
}

#ep-contact form *:-o-input-placeholder {
	color: #aaa;
	font-style: italic;
}

#ep-contact input[type="submit"] {
	border: none;
	margin-top: 20px;
	padding: 10px 30px;
	color: #fff;
	background-color: #dca352;
	font-size: 16px;
	text-transform: uppercase;
	cursor: pointer;
	outline: none;
	border-radius: 25em;
	transition: all 0.3s ease;
}

#ep-contact input[type="submit"]:hover {
	color: #ccc;
	  /*box-shadow: inset 4px -4px #888888;*/
	  box-shadow: inset 0 -3px #888;
}


/*		Footer   */
footer {
	background: #444;
	padding: 10px 0;
}

footer .ep-logo {
	width: 40px;
	height: 40px;
	font-size: 17px;
}

footer .ep-social-icons {
	display: flex;
	list-style-type: none;
}

footer .ep-social-icons li {
	margin: 15px;
}

footer .ep-social-icons li a {
	color: #fff;
	display: flex;
	-webkit-transition: opacity 0.3s ease;
	transition: opacity 0.3s ease;
}

footer .ep-social-icons li a:hover {
	opacity: 0.5;
}








/* 	/*	My Submit Input      
#ep-contact input[type="submit"] {
    background-color: #dca453;
    color: #f1dfdf;
    padding: 10px 20px;
    border-radius: 25em;
    font-size: 16px;
    border: none;
 }
*/




/* 		Animate Main 	*/
.ep-pulsate {
	-webkit-animation: pulsate 3s ease-in-out;
	-webkit-animation-iteration-count: infinite;
	opacity: 0.3;
	margin-top: -7%;

}

@-webkit-keyframes pulsate {
	0% {
		opacity: 0.3;
	}
	50% {
		opacity: 1;
	}
	100% {
		opacity: 0.3;
	}
}



/* 		Logo-Register	*/
 .reg {
	position: relative;
	top: -0.5em;
/*	left: -4.7em;	*/	/*  if incase you need to change the logo "R"  */
	font-size: 7px;
	color: #fff;
	text-shadow: -0.2px -0.2px gold;
	transition: all 1s;
}

.reg:hover {
	transform: scale(3);
	cursor: pointer;
}
 

 .ep-user-name {
 	text-align: center;
 }



/* 			Logo-Registration-1  */
 .reg1 {
	position: relative;
	top: -0.5em;
/*	left: -4.7em;	*/	/*  if incase you need to change the logo "R"  */
	font-size: 5px;
	color: #fff;
	text-shadow: -0.2px -0.2px gold;
	transition: all 1s;
}

.reg1:hover {
	transform: scale(3);
	cursor: pointer;
}
 

 .ep-user-name {
 	text-align: center;
 }