h2 {
	text-align: center;
	margin-top: 50px;
	color: orange;
	text-shadow: -3px -3px 7px #000;
}

h1 {
	text-align: center;
	text-shadow: -3px -3px 7px #000;
}

.clear {
	text-align: center;
	margin:5em;
}

label {
	color: blue;
	align-content: center;
}

hr.hr1 {
	background-color: gold;
	height: 1px;
	box-shadow: -2px -2px 5px #fff;
	width: 20em;
	margin-top: 260px;
}

footer {
	text-align: center;
	color: white;
}
