h2 {
	text-align: center;
	margin-top: 50px;
	color: orange;
	text-shadow: -3px -3px 7px #000;
}

h1 {
	text-align: center;
	text-shadow: -3px -3px 7px #000;
}

hr.hr1 {
	background-color: gold;
	height: 1px;
	box-shadow: -2px -2px 5px #fff;
	margin-top: 250px;
	margin-bottom: 3px;
	width: 20em;
}

/*.clear {
	margin: 100px 5em 5em;
	text-align: center;
}*/

label {
	color: blue;
}

footer {
	text-align: center;
	color: white;
}
