/*body {
	margin: 0;		Reset all Element in Body to margin 0   
}*/
.container {
	display: flex;	/*	This will start Flex */
	flex-wrap: wrap;
	justify-content: center;
	margin: 5px 20px 10px 20px; 
}
/*	NOTE: Very important everyting about h2 take note changes */
h2 {  
	font-family:  "Edwardian Script ITC", "Pristina Regular"; 
	font-size: 2em;
	border-bottom: 5px solid pink;			/*	Draw a line bottom of h2 */	
	text-align: center;	
	width: 450px;
/*	Vertical line in the right */
	border-right: 2px solid pink;			/*	Draw a Vertical line left of the h2  */
	-moz-box-shadow: 4px 4px 5px #888888;	/*	Support Mozilla 			*/
	-ms-box-shadow: 4px 4px 5px #888888;	/*	Support IE 					*/
	-webkit-box-shadow: 4px 4px 5px #888888;/*	Support Chrome and Safari 	*/
	-o-box-shadow: 4px 4px 5px #888888;		/*	Support Opera 				*/
/*	Creating Shadow  */
	box-shadow: 4px 4px 5px #888888;		/* 	Standard Box shadow the h2	*/
	margin-top: 10px;
}

#shadow {
	background-color: orange;
	color: rgba(0,0,0,0.6);
	text-shadow: 2px 8px 6px rgba(0,0,0,0.2),
	             0px -5px 35px rgba(255,255,255,0.3);
}

 img { 
 	width: 150px;
	height: 120px;
 	margin: 10px;
 	transition: all 1s;
 }
 img:hover {
 	transform: scale(2.5);
 }
